ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	background-color: #25282A;
	color: #fff;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.wrapper {
	display: flex;
	width: 100%;
	height: 100vh;
	align-items: center;
	justify-content: center;
	padding: 5%;
}

.slider {
	max-width: 62.5rem;
	height: auto;
	overflow: hidden;
}

.slider__toggle {
	display: none;
}

.slider__control {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1.875rem;
	height: 1.875rem;
	cursor: pointer;
}

.btn {
	display: flex;
	width: 0.75rem;
	height: 0.75rem;
	box-sizing: border-box;
	border: 0.063rem solid #00ccff;
	background-color: #00ccff;
	border-radius: 50%;
}

.controls_texts {
	display: flex;
	justify-content: space-between;
}

.slider__control:last-child {
	margin-right: 0;
}

.slider__control:hover .btn,
.slider__control:active .btn {
	border: 0.063rem solid #e6e6e6;
	background-color: #e6e6e6;
	cursor: pointer;
}

.slider__control:active .btn,
.slider__control:active .btn {
	border: 0.063rem solid #505050;
	background-color: #505050;
	cursor: pointer;
}

.slider__wrapper {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.938rem;
	margin-bottom: 1.25rem;
}

.slider__slides {
	display: flex;
	flex-flow: row nowrap;
	width: 400%;
	border-radius: 2%;
	transition: transform 0.6s ease-in-out;
}

.slider__slide {
	display: block;
	width: 100%;
	min-height: 12.5rem;
	flex-shrink: 0;
	box-sizing: border-box;
}

.slider__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 1.875rem;
	overflow: hidden;
}

.slider__controls {
	display: flex;
	justify-content: flex-end;
}

.sliders_text_wrapper {
	height: 1.875rem;
	min-width: 21.875rem;
	overflow: hidden;
}

.sliders_text {
	display: flex;
}

.sliders_text span {
	opacity: 0;
	color: #fff;
	transition: opacity 1s ease-in-out;
}

.text {
	font-size: 1.5em;
	flex-shrink: 0;
	width: 100%;
}

#slider_1:checked~.slider__wrapper>.slider__slides {
	transform: translateX(0);
}

#slider_2:checked~.slider__wrapper>.slider__slides {
	transform: translateX(-100%);
}

#slider_3:checked~.slider__wrapper>.slider__slides {
	transform: translateX(-200%);
}

#slider_4:checked~.slider__wrapper>.slider__slides {
	transform: translateX(-300%);
}


#slider_1:checked~.slider__info>.sliders_text_wrapper .sliders_text {
	transform: translateX(0);
}

#slider_2:checked~.slider__info>.sliders_text_wrapper .sliders_text {
	transform: translateX(-100%);
}

#slider_3:checked~.slider__info>.sliders_text_wrapper .sliders_text {
	transform: translateX(-200%);
}

#slider_4:checked~.slider__info>.sliders_text_wrapper .sliders_text {
	transform: translateX(-300%);
}

#slider_1:checked~.slider__info>.sliders_text_wrapper .sliders_text,
#slider_2:checked~.slider__info>.sliders_text_wrapper .sliders_text,
#slider_3:checked~.slider__info>.sliders_text_wrapper .sliders_text,
#slider_4:checked~.slider__info>.sliders_text_wrapper .sliders_text{
	transition: transform 0.6s ease-in-out;
}

#slider_1:checked~.slider__info .slider__control:nth-child(1) .btn,
#slider_2:checked~.slider__info .slider__control:nth-child(2) .btn,
#slider_3:checked~.slider__info .slider__control:nth-child(3) .btn,
#slider_4:checked~.slider__info .slider__control:nth-child(4) .btn {
	background-color: #25282A;
}


#slider_1:checked~.slider__info .sliders_text_wrapper .sliders_text .slide1,
#slider_2:checked~.slider__info .sliders_text_wrapper .sliders_text .slide2,
#slider_3:checked~.slider__info .sliders_text_wrapper .sliders_text .slide3,
#slider_4:checked~.slider__info .sliders_text_wrapper .sliders_text .slide4 {
	opacity: 1;
	transition: opacity 1s ease-in-out;
}


@media screen and (max-width: 600px) {
	.slider__info {
		height: auto;
		flex-direction: column;
	}

	.slider__info:last-child {
		align-items: flex-start;
	}

	.slider__info>.sliders_text_wrapper {
		flex: 1;
		order: 2;
	}

	.slider__info>.slider__controls {
		flex: 1;
		order: 1;
		margin: 0 auto;
	}
}