ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

body {
  background-color: #25282A;
}
img{
	border-radius: 2%;
}
.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.slider {
  max-width: 558px;
  height: auto;
  overflow: hidden;
}

.slider__toggle {
  display: none;
}

.border{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.slider__control {
  display: inline-block;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  margin-right: 20px;
  border: 1px solid #00ccff;
  background-color: #00ccff;
  border-radius: 50%;
}

.slider__control:last-child {
  margin-right: 0;
}

.slider__control:hover {
  border: 1px solid #e6e6e6;
  background-color: #e6e6e6;
  cursor: pointer;
}

.slider__control:active {
  border: 1px solid #5c5c5c;
  background-color: #5c5c5c;
  cursor: pointer;
}

.slider__slides {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
	border-radius: 2%;
}

.slider__slide {
  display: block;
  width: 100%;
  min-height: 200px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.slider__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px; /* Высота блока, занимаемая текстом */
}

h3 {
  color: #e6e6e6;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.slider__controls{
	display: flex;
	justify-content: flex-end;
}

.slider__slide h3 {
	position: static;
	bottom: 20px; /* Располагаем текст снизу относительно слайда */
	margin: 0;
	font-family: 'Inter', sans-serif; /* Устанавливаем шрифт Inter */
	font-size: 1.5em;
	color: white;
	background: #25282A; /* Добавляем небольшой фон для лучшей читаемости */
	padding: 5px 10px;
	border-radius: 4px;
	transition: opacity 0.3s ease-in-out;
	opacity: 1; /* Начальное состояние: невидимый */
}

#slider__toggle--1:checked ~ .slider__info .slider__toggle:nth-child(1),
#slider__toggle--2:checked ~ .slider__info .slider__toggle:nth-child(2),
#slider__toggle--3:checked ~ .slider__info .slider__toggle:nth-child(3),
#slider__toggle--4:checked ~ .slider__info .slider__toggle:nth-child(4) {
  opacity: 1;
}

#slider__toggle--1:checked ~ .slider__slides {
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

#slider__toggle--2:checked ~ .slider__slides {
  transform: translateX(-100%);
  transition: transform 0.6s ease-in-out;
}

#slider__toggle--3:checked ~ .slider__slides {
  transform: translateX(-200%);
  transition: transform 0.6s ease-in-out;
}

#slider__toggle--4:checked ~ .slider__slides {
  transform: translateX(-300%);
  transition: transform 0.6s ease-in-out;
}

#slider__toggle--1:checked ~ .slider__controls > .border > .slider__control[for="slider__toggle--1"] {
  background-color: #25282A;
}

#slider__toggle--2:checked ~ .slider__controls > .border > .slider__control[for="slider__toggle--2"] {
  background-color: #25282A;
}

#slider__toggle--3:checked ~ .slider__controls > .border > .slider__control[for="slider__toggle--3"] {
  background-color: #25282A;
}
#slider__toggle--4:checked ~ .slider__controls > .border > .slider__control[for="slider__toggle--4"] {
  background-color: #25282A;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h3 {
  animation: fadeIn 0.5s ease-in-out;
  opacity: 0;
}
